html{background-image:; background-repeat: repeat;}
body{
  background-color: #f0f0ef; 
  /*background-image: url('img/sculpture.png');*/
  background-repeat: no-repeat; 
  background-attachment: fixed;
  /*background-position: bottom right;*/
  background-position: 840px 220px;
  font-family: Georgia, serif;
  font-size: 12px;
  line-height: 18px; 
}
em{font-style: italic;}
a{color: #000; text-decoration: none;}
a:hover{text-decoration: underline;}
h3{font-size: 14px; font-weight: bold; margin-bottom: 24px;}
h4{font-size: 11px; font-weight: bold; margin: 12px 0 12px 0;}
p{}
p a{color: #3d6efa;}
li.current{font-style:italic;}
li.current a{color: #3D6EFA;}

.wrap{width: 1000px; margin: 0 auto; padding-left: 18px;}
#header, #main, #footer{width: 100%; float: left;}
#header{border-bottom: 3px double #000; margin-top: 18px; padding-bottom: 12px; display: none;}
img#logo{float: left; height: 128px; width: 128px;}
img#logo:hover{opacity: 0.5;}
#nav-container{margin-left: 175px; float: left; font-style: italic;}
#name-img{margin: 33px 0 35px 7px; width: 406px; height: 32px; opacity: 1;}
#name-img:hover{opacity: 0.5;}
ul#navigation li{float: left; vertical-align: bottom; font-size: 14px; margin-right: 18px; margin-left: 18px;}

#main{margin: 12px 0 12px 0; min-height: 450px;}
#sidenav{float: left; width: 195px; margin-right: 36px; margin-top: 18px; display: none;}
#sidenav ul li{width: 175px; border-bottom: 1px solid #cfcfcf; }
.fixedElement{width: 185px;}
/*.fixer{position: fixed;}*/
.poem, .project, .page{background: #fff; min-height: 450px;}
.poem, .prjoect{float:left;}
.poem{width: 438px; margin: 0 auto; float: left; padding: 30px 30px 60px 30px;}
.poem p{ letter-spacing: 1px;}

.postswrap{float:left; width: 542px;}

.page{width: 542px; margin: 0 auto; padding: 20px; background: #fff;}
#publications-container{width: 560px; margin: 0 auto; background: #fff;}
.page img{float: left; margin: 0 12px 21px 0;}

.poemnav{float: left; font-size: 18px; margin-top: 150px; display: none;}
.poemnav.left{margin-right: 27px;}
.poemnav.right{margin-left: 27px;}
.poemnav a{display: none;}

.printfriendly{display: none;}

.project{margin: 0px auto 21px auto; padding: 0 0 20px 0; float: left; }
.project p{margin: 0 20px 0 20px;}
.project h3{margin: 20px;}
.project img{width: 542px !important;}
.project p img{max-width: 500px !important;}

.row{float:left; width: 520px; clear:both; background: #fff; padding: 20px 20px 0 20px;}
.publication{width: 160px; margin-right: 20px; float:left;}
.last-child, .publication:last-child{margin-right: 0;}
.publication a{display: block;}


#footer{padding-bottom: 80px;}
#copyright{font-size: 11px; margin-top: 18px;}
